# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
dist/

# Optional npm cache directory
.npm

# dotenv environment variable files
.env.production.local
.env.development.local

# Package
package-lock.json
/.idea/
